header
	form(name="settings", method="POST", action="/settings")#settings
		label(for="background") Background Color: 
		select(name="background")#background
			option(name="red", value="#F44336") Red
			option(name="blue", value="#448AFF") Blue
			option(name="green", value="#4CAF50") Green
			option(name="orange", value="#FF9800") Orange
			option(name="purple", value="#9C27B0") Purple

		button(type="submit") Save
